<div class="container posts">
	<div class="title-bar">
		<h2>Search Results</h2>
	</div>
	<div class="control-bar ui-helper-clearfix $[scroll_class]">
		$[search]
		<div class="controls">
			$[selection_menu]
			$[action_menu]
		</div>
		$[pagination]
	</div>
	<div class="content cap-bottom">
		<table class="list">
			<tbody class="$[list_class]">
				$[post_list]
			</tbody>
		</table>
	</div>
</div>
