<div class="container">
	<div class="title-bar"><h2>$[board.name]</h2></div>
	<div class="content pad-all-thick cap-bottom">
		<p>This board is password protected.  Please enter the password to continue.</p>
		$[form.header]
			<div id="password-wrapper">
				<div class="password">Password: $[form.password.input]</div>
				<div>$[form.submit.button]</div>
			</div>
		$[form.footer]
	</div>
</div>
